*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/

# Sauvegardes locales volumineuses, pas versionnees
app.rar
app.zip
surfforecast_backup/
app/src/SurfForecast_Main_Source.zip
